@model Pessoa

<div class="container mt-4">
    <h2 style="text-align: center;">Edição de pessoa</h2>

    @using (Html.BeginForm("Editar", "Pessoa", FormMethod.Post, new { @class = "form" }))
    {
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(m => m.Id, new {
            @class = "form-control",
            @readonly = "readonly"
            })
                <span style="color: red;">@Html.ValidationMessageFor(m => m.Id)</span>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                @Html.Label("Nome")
                @Html.TextBoxFor(m => m.Nome, new {
            @class = "form-control",
            placeholder = "Digite um nome"
            })
                <span style="color: red;">@Html.ValidationMessageFor(m => m.Nome)</span>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                @Html.Label("CPF")
                @Html.TextBoxFor(m => m.Cpf, new {
            @class = "form-control",
            placeholder = "Digite um CPF"
            })
                <span style="color: red;">@Html.ValidationMessageFor(m => m.Cpf)</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                @Html.Label("E-mail")
                @Html.TextBoxFor(m => m.Email, new {
            @class = "form-control",
            placeholder = "Digite um E-mail"
            })
                <span style="color: red;">@Html.ValidationMessageFor(m => m.Email)</span>
            </div>
        </div>

        <div class="d-flex justify-content-between" style="margin-top: 10px">
            <a href="/Pessoa/Listagem" class="btn btn-primary float-left">Voltar</a>
            <button type="submit" class="btn btn-success float-right">Atualizar</button>
        </div>

    }

</div>

